/* default */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    min-height: 100vh;
    padding-top: 7vh;
    padding-left: 7vw;

    background: hsl(220, 10%, 12%);
    font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: flex-start;

    margin-bottom: 20vh;
}





/* donker-licht functie */

.dark-night {
    display: flex;
    position: absolute;
    left: 41vw;
}

.dark-night p {
    margin-left: 1.05vw;
    margin-top: 0.5vh;
    color: #fff;
}

button img {
    width: 50%;
}

button {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-right: 2vw;
    border-radius: 10px;
    box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.31);
    width: 5vw;
}

button.dark:checked {
    border-color: dodgerblue;
}

button.dark:focus {
    box-shadow: 0 0 .5em .25em rgba(0, 153, 255, .75);
}

div.dark-night {
    margin-left: 1vw;
}

/* einde donker-licht functie */


/* cards */

/* .flip-card-container */
.flip-card-container {
    --hue: 150;
    --primary: hsl(var(--hue), 50%, 50%);
    --white-1: hsl(0, 0%, 90%);
    --white-2: hsl(0, 0%, 80%);
    --dark: hsl(var(--hue), 25%, 10%);
    --grey: hsl(0, 0%, 50%);

    width: 310px;
    height: 500px;
    margin: 40px;
    margin-top: 20vh;
    margin-bottom: -10vh;

    perspective: 1000px;
}

/* .flip-card */
.flip-card {
    width: inherit;
    height: inherit;

    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
}

/* hover state */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;

    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card-front */
.card-front {
    transform: rotateY(0deg);
    z-index: 2;
}

/* .card-back */
.card-back {
    transform: rotateY(180deg);
    z-index: 1;
    background-color: #0f0f0f;
}

/* figure */
figure {
    z-index: -1;
}


/* img */
img {
    height: 100%;
    border-radius: 24px;
}

/* figcaption */
figcaption {
    display: block;

    width: auto;
    margin-top: 12%;
    padding: 8px 22px;

    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: right;


    position: absolute;
    top: 0;
    right: 12px;

    color: #fff;
    background: #0f0f0f;
}

.card-back figcaption {
    text-align: center;
}

.card-back video {
    margin-top: 27vh;
    width: 100%;

}

/* einde cards */



@media screen and (max-width: 1024px) {

    body {

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: flex-start;

    }

    .dark-night {

        left: 37.5vw;
    }

    .dark-night p {
        margin-left: 0.5vw;
        font-size: 24px;

    }


    button {

        width: 10vw;
    }


    button img {
        width: 70%;
    }

    .card-back video {
        margin-top: 20vh;
        width: 100%;

    }

}




/* Werkt momenteel niet omdat ik geen viewport heb aangegeven in de HTML

@media screen and (max-width: 375px) {

    body {

        display: grid;
        grid-template-columns: 1fr;
        align-content: flex-start;

    }


    .flip-card {
        width: 50vw;
        height: 35vh;

        position: relative;
        left: 16vw;
        transform-style: preserve-3d;
        transition: .6s .1s;

        top: 30vh;
    }



    .flip-card-container {
        margin-bottom: 20vh;
        margin-top: -10vh;
        padding-bottom: 50vh;

    }






    .dark-night {
        left: 35vw;
    }

    .dark-night p {
        display: none;
    }


    button {
        margin-bottom: 50vh;
        width: 15vw;
    }


    button img {
        width: 70%;
    }

    .card-back video {
        margin-top: 10vh;
        width: 100%;

    }



    figcaption {

        font-weight: bold;
        line-height: 1.6;
        letter-spacing: 2px;
        word-spacing: 6px;
        text-align: right;
        font-size: 34px;

    }




    .card-back figcaption {
        font-size: 26px;
        text-align: center;
    }
    
    
    .card-back video {
        margin-top: 18vh;
        width: 100%;

    }

}
*/
